[submodule "java-data-structures-3001429"]
	path = java-data-structures-3001429
	url = https://github.com/efwoods/java-data-structures-3001429.git
[submodule "data-structure-3001429"]
	path = data-structure-3001429
	url = https://github.com/efwoods/java-data-structures-3001429.git
[submodule "java-data-structure-3001429"]
	path = java-data-structure-3001429
	url = https://github.com/efwoods/java-data-structures-3001429.git
[submodule "SpringBoot"]
	path = SpringBoot
	url = https://github.com/efwoods/SpringBoot.git
[submodule "RESTful-Web-Service"]
	path = RESTful-Web-Service
	url = https://github.com/efwoods/RESTful-Web-Service.git
[submodule "RESTfulWebService"]
	path = RESTfulWebService
	url = https://github.com/efwoods/RESTfulWebService.git
[submodule "SpringFundamentals"]
	path = SpringFundamentals
	url = https://github.com/efwoods/SpringFundamentals
